$primary: hsl(30, 8%, 85%);
$primary-light: hsl(30, 8%, 95%);
$primary-dark: hsl(30, 8%, 10%);
$primary-medium: hsl(30, 8%, 20%);
$primary-button: hsl(349, 53%, 75%);
$primary-button-hover: hsl(349, 53%, 65%);
