@import "Variables";

* {
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.modal-bg-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.modal-bg-left {
  position: relative;
  display: flex;
  width: 50vw;
  height: 100vh;
}

.modal-bg-one {
  display: flex;
  position: absolute;

  background-color: $primary-button;
  width: 200vw;
  height: 200vw;

  transform: translateX(-100vw);
  &.active {
    transform: translateX(0vw);
    right: 0;
    top: -100vh;
  }
}

.modal-bg-right {
  display: flex;
  flex-direction: column;
}

.modal-right-bottom,
.modal-right-top {
  display: flex;
  position: relative;
  width: 50vw;
  height: 50vh;
}

.modal-bg-two {
  position: absolute;

  background-color: $secondary-alt;
  transform: translateY(-100vw);
  bottom: 0;
  left: 0;
  width: 200vw;
  height: 200vw;

  &.active {
    transform: translateY(0vw);
    bottom: 0;
    left: 0;
  }
}

.modal-bg-three {
  position: absolute;

  background-color: $alt;
  width: 200vw;
  height: 200vh;
  transform: translateX(100vw);

  &.active {
    transform: translateX(0vw);
    top: 0;
    left: 0;
  }
}
