@import "Variables";
@import "Mixins";

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile-banner {
  width: 100%;
  @include center-flexbox(row);
  background-color: $primary-medium;
  padding-top: 56px;
}

.profile-container {
  display: flex;
  margin: 0;
  padding: 24px 0 24px 0;
  max-width: 1090px;
  width: 812px;
  color: white;
  line-height: 1.25rem;
  .break1 {
    display: none;
  }
  .break2 {
    display: none;
  }

  @media (max-width: 860px) {
    max-width: 536px;
    width: 100%;
    .break2 {
      display: block;
    }
    .tex-info {
      width: 100%;
    }
  }
  @media (max-width: 584px) {
    max-width: calc(100vw - 48px);
    .break1 {
      display: block;
    }
    .text-info {
      width: 100%;
      justify-content: start;
    }
    .banner-account-info {
      width: 100%;
    }
    .banner-username {
      margin-bottom: 8px;
    }
    .follow {
      display: none;
    }
    .mobile-follow {
      display: block;
      font-weight: 700;
    }
  }
  img {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    margin-right: 16px;
  }
  .text-info {
    @include center-flexbox(column);
  }
}

.banner-username {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 16px;
}

.mobile-follow {
  display: none;
}

.follow-btn {
  height: 38px;
}

.username {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.general-info {
  color: white;
}
