/* Gallery Container */
.gallery-container {
    max-width: 812px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  /* Gallery Images */
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
  
  
  .gallery-image {
    width: calc(33.33% - 16px);
    position: relative;
  }
  
  
  .gallery-image img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    border: none;
    border-radius: 0;
    transition: transform 0.3s;
  }
  
  
  .gallery-image:hover img {
    transform: scale(1.05);
  }
  
  
  /* Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  
  
    /* Mask effect */
    mask-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
  }
  
  
  .gallery-image:hover .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  
  
  /* Rating Overlay */
  .rating-overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
  }
  
  .rating-buttons {
    display: flex;
    gap: 4px;
    margin-top: 10px;
  }
  
  
  .rating-button {
    padding: 5px 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, font-weight 0.3s;
    border-radius: 50%;
  }
  
  
  .rating-button.selected {
    font-weight: bold;
  }
  
  
  .rating-button:hover {
    background-color: white;
    color: black;
  }  